<footer>
    <div class="content">
        <div class="section">
            <img id="logo" src="https://gazetadepinheiros.com.br/images/noticias/5476/13095845_stefanini_.png.png"
                alt="logo stefanini group">
            <div class="social">
                <a href="https://web.facebook.com/StefaniniIT/?_rdc=1&_rdr#">
                    <img class="icon" src="https://www.iconpacks.net/icons/2/free-facebook-icon-2869-thumb.png"
                        alt="facebook">
                </a>
                <a href="https://www.linkedin.com/company/stefanini-brasil/">
                    <img class="icon" src="https://www.iconpacks.net/icons/1/free-linkedin-icon-94-thumb.png"
                        alt="linkedin">
                </a>
                <a href="https://www.youtube.com/c/StefaniniGlobal">
                    <img class="icon"
                        src="https://cdn3.iconfinder.com/data/icons/unicons-vector-icons-pack/32/youtube-512.png"
                        alt="youtube">
                </a>
                <a href="https://www.instagram.com/stefanini/">
                    <img class="icon" src="https://www.iconpacks.net/icons/2/free-instagram-icon-2165-thumb.png"
                        alt="instagram">
                </a>

            </div>
        </div>
            <div class="utilities">
                <a href="" class="link">
                    Portal Stefanini
                </a>
                <a href="" class="link">
                    Workover
                </a>
                <a href="" class="link">
                    Academia Stefanini
                </a>
                <a href="" class="link">
                    SAIAPP
                </a>
            </div>
        
    </div>

    <div class="copyright">
        <hr>
        <span>©2025 todos os direitos reservados a Stefanini Group</span>
    </div>

</footer>
