div{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

app-cadastrar-of{
    margin-top: 2%;
}

app-consultar-of{
    margin-bottom: 2%;
}