<!-- Criação de Ordem de Fornecimento -->
<div id="pagina">
    <form>
        <div class="formParte1">
            <div>
                <label for="codigo">ID</label>
                <input readonly [(ngModel)]="id" name="codigo" id="codigo" type="number">
            </div>
            <div>
                <label for="status">Status</label>
                <select [(ngModel)]="status" name="status" id="status">
                    <option value="Pendente de Cadastramento">Pendente de Cadastramento</option>
                    <option value="Iniciada">Iniciada</option>
                    <option value="Validada">Validada</option>
                </select>
            </div>
            <button (click)="adicionarOf()" class="botaoAzul">Criar</button>
        </div>
        <div class="formParte2">
            <div>
                <label for="colaborador">Colaborador</label>
                <input name="colaborador" [(ngModel)]="colaborador" id="colaborador" type="text">
            </div>
            <div style="display: flex; align-items: start;">
                <label for="descricao">Descrição</label>
                <textarea name="descricao" [(ngModel)]="descricao" id="descricao" rows="5" cols="30"></textarea>
            </div>
        </div>
    </form>

<!-- Consulta, alteração e exclusão da Ordem de Fornecimento -->
    <form>
        <div class="formParte1">
            <div>
                <label for="codigo2">ID</label>
                <input [(ngModel)]="idProcurado" name="codigo2" id="codigo2" type="number">
            </div>
            <div>
                <label for="status2">Status</label>
                <select [ngModel]="statusProcurado" name="status2" id="status2">
                    <option value="Pendente de Cadastramento">Pendente de Cadastramento</option>
                    <option value="Iniciada">Iniciada</option>
                    <option value="Validada">Validada</option>
                </select>
            </div>
        </div>
        <div class="formParte2">
            <div>
                <label for="colaborador2">Colaborador</label>
                <input [ngModel]="colaboradorProcurado" name="colaborador2" id="colaborador2" type="text">
            </div>
            <div>
                <label for="criacao">Criação</label>
                <input [ngModel]="criacaoProcurado" name="criacao" id="criacao" type="date">
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Colaborador</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Criação</th>
                    <th>Atualização</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="idProcurado != 0 && idProcurado != null">
                    <td>{{ordemFornecimentos[idProcurado - 1].id}}</td>
                    <td>{{ordemFornecimentos[idProcurado - 1].colaborador}}</td>
                    <td>{{ordemFornecimentos[idProcurado - 1].descricao}}</td>
                    <td>{{ordemFornecimentos[idProcurado - 1].status}}</td>
                    <td>{{ordemFornecimentos[idProcurado - 1].criacao}}</td>
                    <td>{{ordemFornecimentos[idProcurado - 1].atualizacao}}</td>
                    <td>
                        <img src="botaoEditar.png" alt="">
                        <img src="botaoDeletar.png" alt="">
                    </td>
                </tr>
                <ng-container *ngIf="idProcurado == 0 || idProcurado == null">
                    <tr *ngFor="let ordemFornecimento of ordemFornecimentos;">
                        <td>{{ordemFornecimento.id}}</td>
                        <td>{{ordemFornecimento.colaborador}}</td>
                        <td>{{ordemFornecimento.descricao}}</td>
                        <td>{{ordemFornecimento.status}}</td>
                        <td>{{ordemFornecimento.criacao}}</td>
                        <td>{{ordemFornecimento.atualizacao}}</td>
                        <td>
                            <img src="botaoEditar.png" alt="">
                            <img src="botaoDeletar.png" alt="">
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div id="anteriorProximo">
            <button class="botaoAzul">Anterior</button>
            <button class="botaoAzul">Próximo</button>
        </div>
    </form>
</div>