<div id="pagina">
    <div id="cartoes">
        <app-card [rota]="'ordemServico'" [img]="'iconeOF.png'" [titulo]="'Ordens de Serviço'"></app-card>
        <app-card [rota]="'usuarios'"  [img]="'iconeUsuarioCard.png'" [titulo]="'Usuário'"></app-card>
        <app-card [img]="'iconeRelatorio.png'" [titulo]="'Relatórios'"></app-card>
    </div>
    <div id="buscaComGrafico">
        <app-consultar-usuario></app-consultar-usuario>
        <app-grafico-empilhado></app-grafico-empilhado>
    </div>
</div>
