<div class="example-container" [class.example-is-mobile]="isMobile()">
  <app-header (toggleSidebar)="snav.toggle()"></app-header>

  <mat-sidenav-container class="example-sidenav-container"
                        [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'"
                [fixedInViewport]="isMobile()" fixedTopGap="56">
      <mat-nav-list>
          <a routerLink="home" mat-list-item>Home</a>
          <a routerLink="ordemFornecimento" mat-list-item>Ordens de Fornecimento</a>
          <a routerLink="usuario" mat-list-item>Gerenciar usuários</a>
          <a routerLink=""><img src="sair.png" alt=""></a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Conteudo -->
    <mat-sidenav-content>
     <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>