<form [formGroup]="usuarioAtual" (ngSubmit)="atualizarDados()">
    <div id="conteudo">
        <div id="fotoNomeUsuario">
            <img id="iconeUsuario" src="iconeUsuario.png" alt="">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input formControlName="name" readonly="{{naoPodeEditar}}" name="name" matInput>
                <!-- @if (user.get('name')?.hasError('required')) {
                    <mat-error>Este campo precisa estar <strong>preenchido</strong></mat-error>
                } -->
            </mat-form-field>
            <img (click)="permitirEdicao()" id="botaoEditar" src="botaoEditar.png" alt="">
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Cargo</mat-label>
            <input formControlName="role" readonly name="cargo" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input formControlName="email" readonly="{{naoPodeEditar}}" name="email" matInput>
            <!-- @if (user.get('email')?.hasError('required')) {
                <mat-error>Este campo precisa estar <strong>preenchido</strong></mat-error>
            }
            @if (user.get('email')?.hasError('email')) {
                <mat-error>O e-mail precisa ser <strong>válido</strong></mat-error>
            } -->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input [type]="mostrarSenha ? 'text' : 'password'" formControlName="password" readonly="{{naoPodeEditar}}" name="senha" matInput>
        </mat-form-field>
        <div id="botoes" *ngIf="naoPodeEditar == false">
            <a (click)="naoPermitirEdicao()" mat-flat-button>Cancelar</a>
            <button type="submit" mat-flat-button>Salvar</button>
        </div>
    </div>
</form>

