<div class="div_header">
    <div class="header_section ">
    </div>
    <div class="tittle">
        <img class="logo tittle_itens" src="https://gazetadepinheiros.com.br/images/noticias/5476/13095845_stefanini_.png.png"
            alt="logo stefanini group">
            
                <span class="tittle_itens" id="bar">|</span>
                <span class="tittle_itens" id="tittle">Gerenciamento O.F.</span>
            
    </div>
    <div class="header_section">
        <img class="img_header tittle_itens"
            src="https://static.vecteezy.com/system/resources/previews/019/879/186/large_2x/user-icon-on-transparent-background-free-png.png"
            alt="icone usuario">
        <span class="welcome tittle_itens">Bem vindo,<br> usuário</span>
        <img class="img_header tittle_itens" src="https://icon-library.com/images/exit-icon-png/exit-icon-png-5.jpg"
            alt="icone de sair">
    </div>
</div>